.nav {
    position: absolute;
    left: 70px;
    top: 80px;
}

.nav:hover .nav__logo {
    scale: 1.5;
    transition: 200ms ease-in-out; 
}

@media screen and (max-width: 900px) {
    .nav {
        left: 16px;
        top: 4rem;
    }
}