/* dát sekcím samostatně padding */

:root {
  --background-color: #051226;
  --text--color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font1 {
  font-family: 'Tw Cen MT', sans-serif;
  font-weight: 400;
}

.font2 {
  font-family: "gautreaux", sans-serif;
	font-weight: 700;
}

.main {
  background-color: var(--background-color);
  background-image: url("../assets/background.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 70% top;
  color: var(--text--color);
  font-family: 'Tw Cen MT', sans-serif;
  font-weight: 400;
  padding-top: 32px;
  padding-left: 70px;
  padding-right: 70px;
  scroll-behavior: smooth;
}

.main.mobile-screen {
  background-image: none;
  padding: 0;
}

@media screen and (max-width:1024px) {
  .main {
      background-position: center 65px;
      background-size: 100%;
  }
}

@media screen and (max-width: 768px) {
  .main {
    padding: 32px;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text--color);
}

a:hover {
  text-decoration: underline;
}

section {
  min-height: 100dvh;
}

/* Header */
.header {
  position: relative;
}

.header.mobile-screen {
  background-image: url("../assets/background.svg");
  background-size: 65vh;
  background-position: -50px bottom;
  background-repeat: no-repeat;
  padding: 32px;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 460px) {
  .header__nav {
    justify-content: space-between;
  }
}

.header__picture {
  width: 60px;
  height: 60px;
  margin-right: 107px;
  flex-shrink: 0;
}

@media screen and (max-width: 460px) {
  .header__picture {
    margin-right: 0;
    width: 50px;
    height: 50px;
  }
}

.header__img {
  width: 100%;
  height: 100%;
}

.header__a {
  display: inline;
  margin-right: 107px;
  font-size: 20px;
}

@media screen and (max-width: 460px) {
  .header__a {
    margin-right: 0;
  }
}

.header__h1 {
  margin-top: 300px;
  font-size: 100px;
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
}

@media screen and (max-width: 460px) {
  .header__h1 {
    position: absolute;
    text-align: center;
    left: 0;
    width: 100%;
    top: 50%;
    font-size: 60px;
    margin-top: 0;
  }
}

/* smazat */
section:not(:first-child) {
  border-top: 5px solid green;
}
