.logos {
    background: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExa3N0NmYwdzRkM2o1YTh5bGRpN3JsdHp0eGQzcGd3bzB0OHY3YnNjZSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3og0IRo1EZPNnhbBV6/giphy.webp");
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}