.logos {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Tw Cen MT', sans-serif;
    padding: 32px 70px;
}


@media screen and (max-width: 900px) {
    .logos {
        padding: 16px;
    }
}

.h1 {
    font-size: 90px;
    color: #fff;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 6rem;
    text-transform: uppercase;
    font-weight: 800;
}

@media screen and (max-width: 900px) {
    .h1 {
        margin-top: 2rem;
        font-size: 60px;
    }
}

.logos__col {
    display: flex;
    gap: 10%;
    margin-bottom: 150px;
}

.flex-reverse {
    flex-direction: row-reverse;
}

@media screen and (max-width: 900px) {
    .logos__col {
        flex-direction: column;
        align-items: center;
        gap: 80px;
        margin-bottom: 100px;
    }
}

.logos__p {
    font-size: 20px;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

@media  screen and (max-width: 900px) {
    .logos__img {
        max-width: 300px;
    }
    
}
